*{
    /* border: 1px solid red; */
}

.home{
    
    padding-top: 50px;
    min-height: 100vh;

   
}

.Presentation{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap:50px;
       
}
.profile{
   
    width: 60%;
}

.name{
   
    width:18ch ;
    display: block;
    text-transform: capitalize;
    white-space:nowrap;
    border-right: 4px solid gray;
    color: #87b091;
    font-size: 70px;
    font-weight: bold;

    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing{
    from { width: 0;
    
    text-align: center;
    justify-content: center;
    
    }

    
}

@keyframes blink {
     50%{ border-color:transparent;}
}

.work{
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.information{
    display: flex;
    gap:10px
}

.redes{
    font-size: 40px;
}

.cv{
    display: flex;
    align-items: center;
}

.download{
    background-color:#4300df ;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;

    
}

.img{
    margin: 0px 0px 0px 30px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.photo{
    margin-left: 0px 0px 0px 10px;
border-radius: 500px;

}

@media (max-width: 952px) {
    .profile{

        width: 100%;
    }

    .name{
        color: #87b091;
        
            font-size: 50px;
            font-weight: bold;
        }
        
        .work{
            font-size:25px;
            font-weight: bold;
            color: white;
        }
       


.img{
    margin: 0px 0px 0px 30px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;


}


}

@media (max-width: 858px) {
    .Presentation{
        display: block;
        justify-content: center;
        
    }

    .img{
        width: 100%;
        margin: 0;
    }

    .profile{

       text-align: center;
        width: 100%;
        
justify-content: center;


    
    }

    .information{

display: block;

    }

    .cv{
display: flex;
align-items: center;
justify-content: center;

    }

    .work{
        font-size:25px ;
    }

    .name{
      margin: 0 auto;
        justify-content: center;
        width: 18ch;
        text-align: center;
        font-size: 30px;
        animation: typing 2s steps(12), blink .5s infinite step-end alternate;
        overflow: hidden;
    }
    
    @keyframes typing{
        from { width: 0;
        
        text-align: center;
        justify-content: center;
        
        }
    
        
    }
    
    @keyframes blink {
         50%{ border-color:transparent;}
    }

    .photo{
        width: 200px;
    }

    .home{

        padding-top: 150px;
    }
   

}

